# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  release:
    name: build, pack and publish
    runs-on: ubuntu-latest
    strategy:
      matrix:
        projects:
        - 'Pillsgood.AdventOfCode/Pillsgood.AdventOfCode.csproj'
        - 'Pillsgood.AdventOfCode.Login/Pillsgood.AdventOfCode.Login.csproj'

    outputs:
      nbgv: ${{ steps.nbgv.outputs.SemVer2 }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
        
    - name: Git Versioning
      id: nbgv
      uses: dotnet/nbgv@master
      with:
        setAllVars: true
        
    - name: Publish Packages
      uses: alirezanet/publish-nuget@v3.0.4
      with:
        PROJECT_FILE_PATH: ${{ matrix.projects }}
        VERSION_STATIC: ${{ steps.nbgv.outputs.SemVer2 }}
        TAG_COMMIT: true
        TAG_FORMAT: *
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
        NUGET_SOURCE: https://api.nuget.org
        INCLUDE_SYMBOLS: false
